
.imgback{
	float: left;
	background: url(../img/background.png); 
    width: 375px;
    height: 667px;
    
}

.helpfight{
	background: url(../img/help.png); 
    position: absolute;
    top:30rem; left: 3rem;
    width: 19rem;
    height: 3rem;
    overflow: auto;
	text-align:center;
	font-size:25px;color:#000;
	padding-top: 1.5rem;
}
