<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title> e友加油</title>

    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  </head>
  <body >
	   <div style="display: inline-block;position: relative;">
	     <img src="/static/img/background.png" class="imgback">
	     
	     <p class="helpfight" onclick="onClickhf()" id= "username" >帮他助攻</p>
	   </div>
    
    <script type="text/javascript">


      window.onload=function(){ 

        var userName = document.getElementById("username");
        userName.innerHTML = "<span style='display: inline-block;position: relative;'>帮"+ getQueryString("user")+ "助攻</span>";

      } 

      function getQueryString(name)
      {
         var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
         var r = window.location.search.substr(1).match(reg);
         if(r!=null)return  unescape(r[2]); return null;
      }


      function onClickhf(){
          var username = getQueryString("user");

          var unValue = localStorage.getItem(username);
          if (unValue != 1){
            
            console.log(username);

            $.ajax({  
              url: 'http://192.168.188.176:8000/user_manage/add_oil/' ,  
              type: 'POST',  
              data: "username="+username,  
              async: false,  
              cache: false,
              contentType:"application/x-www-form-urlencoded",  
              success: function (returndata) {  
                  console.log(returndata);  
                  if(window.localStorage){
                    // localStorage.flag = 1;
                    localStorage.setItem(username,1);
                  }else{
                    alert('This browser does NOT support localStorage');
                  }
              },  
              error: function (returndata) {  
                  console.log(returndata);  
              }  
            }); 


          } else {
            alert('您已经帮' + username + '他助攻过了，请不要重复！')


          } 
           

      }

    </script>
  </body>
</html>
